@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }

body {background-image: linear-gradient( to right,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-size: 100%;
    background-repeat: repeat;}

    .container {width: 30%;
    background-color: white;
    border-radius: 7px;
    left: 35%;
    top: 8%;
    position: absolute;
    padding: 10px;}

    input { width: 98%;
    border: none;
    color: black;
    background-color: transparent;
    border-bottom: #201b2c 1px solid;
    outline: none;
    height: 52px;
    padding: 0px;
    margin-bottom: 15px;}

button {width: 48%;
    height: 52px;
    border-radius: 7px;
    border: solid 1px grey;
    background-color: white;
    color: black;
    margin: 0px 2px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5em;
    padding-top: 11px;
    transition: .4s;
    background-color: hsl(252, 96%, 73%);
    color: white;}

button:hover {background-color: #5b19b7;
    color: white;
    border: black solid 1px;
    letter-spacing: 1.5px;
    border-radius: 10px;}

::placeholder {font-size: 1.2em; padding-top: 20px;}

p {border-top: 1px solid #201b2c;
    padding: 10px;
    width: 92%;
    display: inline-block;}

span { font-size: 1.5em;
    transition: 0.4s;
    color: red;
    cursor: pointer;
    display: inline;}
.fas.fa-trash-can{ margin-left: 4px;}

@media  screen and (max-width: 900px) {
    .container  { width: 80%; left: 10%;}
    button:hover{border-radius: 7px; background-color: hsl(252, 96%, 73%); letter-spacing: 0;}}